{% extends ::"base.html.twig" %}

{% block body %}
    
<div class="loader"><i class="loader_html fa-spin"></i></div>

<div id="wrap" class="stripe grid_1200">
  <div class="wrap-search">
    <form method="post">
      <input type="search" name="s" value="Search here ..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
    </form>
  </div><!-- End wrap-search -->
  <header id="header">
    <div class="container clearfix">
      <div class="logo"><a href="index.html">Logger</a></div><!-- End logo -->
      <div class="header-follow">
        <div class="header-follow-a">Follow Me</div>
        <div class="follow-social">
          <i class="fa fa-caret-up"></i>
          <ul>
            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i>Vimeo</a></li>
            <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i>Youtube</a></li>
          </ul>
        </div><!-- End follow-social -->
      </div><!-- End header-follow -->
      <div class="header-search">
        <div class="header-search-a"><i class="fa fa-search"></i></div>
      </div><!-- End header-search -->
      <nav class="navigation">
        <ul>
          <li class="current_page_item mega-menu"><a href="troiswa_bug_homepage">Home</a>
          <li><a href="troiswa_bug_page">Pages</a>
        </ul>
      </nav><!-- End navigation -->
      <nav class="navigation_mobile navigation_mobile_main">
        <div class="navigation_mobile_click">Go to...</div>
        <ul></ul>
      </nav><!-- End navigation_mobile -->
    </div><!-- End container -->
  </header><!-- End header -->
  
  <div class="clearfix"></div>
  <div class="sections">
    <div class="container">
      <div class="row">
        <div class="col-md-8 main-content">
          {% block content %}
          {% endblock %}
        </div><!-- End main-content -->
        <div class="col-md-4 sidebar">
          <div class="widget widget-about">
            <div class="widget-about-img"><img alt="" src="images/about-img.png"></div>
            <h3>Ahmed Hassan Mohammed</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="social-ul">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div><!-- End social-ul -->
            <div class="clearfix"></div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-search"></i>Search</div>
            <div class="widget-search">
              <form>
                <input type="search" value="Search here ..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                <input class="button" type="submit" value="Search Now">
              </form>
            </div><!-- End widget-search -->
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-folder-open"></i>Categories</div>
            <div class="widget-categories">
              <ul>
                <li><a href="#">Branding<span>(5)</span></a><i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">UI Design<span>(77)</span></a><i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">Typography<span>(6)</span></a><i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">Wordpress<span>(11)</span></a><i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">Development<span>(45)</span></a><i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">Photography<span>(22)</span></a><i class="fa fa-angle-double-right"></i></li>
              </ul>
            </div><!-- End widget-categories -->
          </div><!-- End widget -->
          
          <div class="widget widget-statistics">
            <div class="widget-title"><i class="fa fa-signal"></i>Social Statistics</div>
            <ul>
              <li class="statistics-facebook"><a href="#"><i class="fa fa-facebook"></i>11200 <span>Fans</span></a></li>
              <li class="statistics-twitter"><a href="#"><i class="fa fa-twitter"></i>770 <span>Followers</span></a></li>
              <li class="statistics-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i>155 <span>Subscribers</span></a></li>
              <li class="statistics-youtube"><a href="#"><i class="fa fa-youtube-play"></i>200 <span>Subscribers</span></a></li>
              <li class="statistics-google"><a href="#"><i class="fa fa-google-plus"></i>514 <span>Followers</span></a></li>
              <li class="statistics-dribbble"><a href="#"><i class="fa fa-dribbble"></i>700 <span>Followers</span></a></li>
            </ul>
            <div class="clearfix"></div>
          </div><!-- End widget -->
          
          <div class="widget tabs-warp widget-tabs">
            <div class="widget-title">
              <ul class="tabs">
                <li class="tab"><a href="#" class="">Popular</a></li>
                <li class="tab"><a href="#" class="current">Comments</a></li>
                <li class="tab"><a href="#">Tags</a></li>
              </ul>
            </div>
            <div class="tab-inner-warp">
              <div class="widget-posts">
                <ul>
                  <li class="widget-posts-image">
                    <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-image"></i><img alt="" src="images/post-img-s-1.png"></a></div>
                    <div class="widget-posts-content">
                      <a href="single-blog.html">Awesome Image Post.</a>
                      <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                      <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                    </div>
                  </li>
                  <li class="widget-posts-quote">
                    <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-quote-left"></i></a></div>
                    <div class="widget-posts-content">
                      <a href="single-blog.html">Awesome Quote Post.</a>
                      <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                      <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                    </div>
                  </li>
                  <li class="widget-posts-vimeo">
                    <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-vimeo-square"></i><img alt="" src="images/post-img-s-2.png"></a></div>
                    <div class="widget-posts-content">
                      <a href="single-blog.html">Awesome Vimeo Post.</a>
                      <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                      <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                    </div>
                  </li>
                  <li class="widget-posts-gallery">
                    <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-image"></i><img alt="" src="images/post-img-s-3.png"></a></div>
                    <div class="widget-posts-content">
                      <a href="single-blog.html">Awesome Gallery Post.</a>
                      <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                      <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                    </div>
                  </li>
                </ul>
              </div><!-- End widget-posts -->
            </div>
            <div class="tab-inner-warp">
              <div class="widget-comments">
                <ul>
                  <li>
                    <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-1.png"></a></div>
                    <div class="widget-comments-content">
                      <a href="#">2code</a>
                      <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-2.png"></a></div>
                    <div class="widget-comments-content">
                      <a href="#">Begha</a>
                      <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-3.png"></a></div>
                    <div class="widget-comments-content">
                      <a href="#">Johnny</a>
                      <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                    </div>
                  </li>
                </ul>
              </div><!-- End widget-comments -->
            </div>
            <div class="tab-inner-warp">
              <div class="widget_tag_cloud">
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-dribbble"></i>Dribbble Gallery</div>
            <div class="widget-dribbble"><ul></ul></div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-bolt"></i>Popular Posts</div>
            <div class="widget-posts">
              <ul>
                <li class="widget-posts-image">
                  <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-image"></i><img alt="" src="images/post-img-s-1.png"></a></div>
                  <div class="widget-posts-content">
                    <a href="single-blog.html">Awesome Image Post.</a>
                    <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                    <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                  </div>
                </li>
                <li class="widget-posts-quote">
                  <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-quote-left"></i></a></div>
                  <div class="widget-posts-content">
                    <a href="single-blog.html">Awesome Quote Post.</a>
                    <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                    <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                  </div>
                </li>
                <li class="widget-posts-vimeo">
                  <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-vimeo-square"></i><img alt="" src="images/post-img-s-2.png"></a></div>
                  <div class="widget-posts-content">
                    <a href="single-blog.html">Awesome Vimeo Post.</a>
                    <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                    <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                  </div>
                </li>
                <li class="widget-posts-gallery">
                  <div class="widget-posts-img"><a href="single-blog.html"><i class="fa fa-image"></i><img alt="" src="images/post-img-s-3.png"></a></div>
                  <div class="widget-posts-content">
                    <a href="single-blog.html">Awesome Gallery Post.</a>
                    <span><i class="fa fa-user"></i>BY : <a href="#">2code</a></span>
                    <span><i class="fa fa-clock-o"></i>August 20, 2014</span>
                  </div>
                </li>
              </ul>
            </div><!-- End widget-posts -->
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-comments"></i>Recent Comments</div>
            <div class="widget-comments">
              <ul>
                <li>
                  <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-1.png"></a></div>
                  <div class="widget-comments-content">
                    <a href="#">2code</a>
                    <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                  </div>
                </li>
                <li>
                  <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-2.png"></a></div>
                  <div class="widget-comments-content">
                    <a href="#">Begha</a>
                    <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                  </div>
                </li>
                <li>
                  <div class="widget-comments-img"><a href="#"><img alt="" src="images/comment-img-3.png"></a></div>
                  <div class="widget-comments-content">
                    <a href="#">Johnny</a>
                    <p><a href="#">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</a></p>
                  </div>
                </li>
              </ul>
            </div><!-- End widget-comments -->
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-flickr"></i>Flickr</div>
            <div class="widget-flickr"></div>
            <div class="clearfix"></div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-bookmark"></i>Advertisement</div>
            <div class="widget-adv">
              <a href="http://bitly.com/UoVhcn"><img alt="" src="images/adv.png"></a>
            </div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-tags"></i>Tags</div>
            <div class="widget_tag_cloud">
              <a href="#">projects</a>
              <a href="#">Portfolio</a>
              <a href="#">Wordpress</a>
              <a href="#">Html</a>
              <a href="#">Css</a>
              <a href="#">jQuery</a>
              <a href="#">2code</a>
              <a href="#">vbegy</a>
              <a href="#">projects</a>
              <a href="#">Portfolio</a>
              <a href="#">Wordpress</a>
              <a href="#">Html</a>
              <a href="#">Css</a>
              <a href="#">jQuery</a>
              <a href="#">2code</a>
              <a href="#">vbegy</a>
            </div>
            <div class="clearfix"></div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-twitter"></i>Latest Tweets<a class="twitter-follow" href="#">Follow</a></div>
            <div class="widget-twitter"></div>
          </div><!-- End widget -->
          
          <div class="widget">
            <div class="widget-title"><i class="fa fa-lock"></i>Login Area</div>
            <div class="widget-login">
              <form>
                <input type="text" value="Username" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                <div class="widget-login-password">
                  <input type="password" value="Password" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                  <a href="#">Forget</a>
                </div>
                <input type="submit" value="Login" class="button">
              </form>
            </div>
          </div><!-- End widget -->
        </div><!-- End sidebar -->
      </div><!-- End row -->
    </div><!-- End container -->
  </div><!-- End sections -->
  
  <div class="clearfix"></div>
  
  <footer id="footer">
    <div class="container">
      <div class="copyrights">Copyright 2014 Logger | Designed By <a target="_blank" href="http://7oroof.com/">7oroof</a> | Developed By <a target="_blank" href="http://2code.info/">2code</a></div>
      <div class="social-ul">
        <ul>
          <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div><!-- End social-ul -->
    </div><!-- End container -->
  </footer><!-- End footer -->
  
</div><!-- End wrap -->

<div class="go-up"><i class="fa fa-chevron-up"></i></div>

{% endblock %}
{% block stylesheets %}{% endblock %}